name: Publish Samples

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip

    - name: Add samples notebooks to artifacts
      run: |
        python resources/package-samples.py notebooks

    - name: Upload sample notebooks
      uses: actions/upload-artifact@v3
      with:
        name: sample-notebooks
        path: sample-notebooks.zip
