name: Upload Release Assets

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    # Needed for creating tag
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip

      - name: Set current date as env variable
        run: echo "DATETIME=$(date +'%Y-%m-%dT%H-%M-%S')" >> $GITHUB_ENV

      # - name: Bump version and push tag
      #   id: tag_version
        # uses: mathieudutour/github-tag-action@v6.2
        # with:
        #   custom_tag: v${{ env.DATETIME }}
        #   tag_prefix: ""
        #   github_token: ${{ secrets.GITHUB_TOKEN }}
        # run:
        #   git config --global user.name "${GITHUB_ACTOR}"
        #   git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
        #   git tag "v${{ env.DATETIME }}"
        #   git push origin "v${{ env.DATETIME }}"

      - name: Bump version and push tag
        uses: actions/github-script@v7
        with:
           script: |
             github.rest.git.createRef({
               owner: context.repo.owner,
               repo: context.repo.repo,
               ref: "refs/tags/v${{ env.DATETIME }}",
               sha: context.sha
             })

      - name: Build notebooks
        run: |
          python resources/package-samples.py notebooks --strip-output --outfile notebooks-stripped.zip --notebooks all
          python resources/package-samples.py notebooks --outfile notebooks-full.zip --notebooks all

      - name: Create Release and Upload Assets
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create "v${{ env.DATETIME }}" \
            notebooks-stripped.zip \
            notebooks-full.zip \
            --title "Release v${{ env.DATETIME }}" \
            --notes "Automated release of notebook samples"
